.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: -1rem;
    gap: .3rem;
}

.pagination-container button {
    background: yellow;
    border: 2px solid #FF8C00 !important; /* Orange border */
    color: orange;
    cursor: pointer;
}

.pagination-container button:disabled {
    background-color: white;
    color: grey;
    border: 2px solid grey !important;
    cursor: not-allowed;

}

.navigation-buttons {
    min-width: 4rem;
}