/* comic card section */
.comic-card-section {
    position: relative;
    width: 90vw; /* Set the width to 90% of the viewport width */
    max-width: 80rem;
    margin: 0 auto; /* Center horizontally */
    margin-top: 3rem;
    background: url('/src/assets/3696.jpg') no-repeat center center; /* Set background image */
    background-size: cover;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5), 0 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: flex-start; /* Align items at the top */
    align-items: center;
    padding: 1rem;
    gap: 1rem; /* Space between rows of cards */
    overflow: hidden; 
    margin-bottom: 2rem;
}

.comic-explore-title {
    font-size: 2rem;
    color: yellow;
    text-shadow: 2px 2px #ff0000;
    text-align: center;
    text-decoration: underline;
    background-color: rgb(247, 150, 5);
    width: 60%;
    padding: 1rem;
    margin: 0 auto;
    margin-top: 2rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.comic-card-container {
    display: flex;
    flex-wrap: wrap; /* Ensures wrapping on smaller screens */
    gap: 1rem; /* Space between items */
    list-style: none; /* Removes default list styling */
    padding: 0;
    margin: 0;
    justify-content: center; /* Centers items horizontally */
    width: 100%;
}

.comic-card-inner {
    position: relative;
    width: 300px;
    height: 300px;
    flex-shrink: 0; /* Prevent shrinking */
    cursor: pointer;
}

.comic-card-inner img {
    width: 300px;
    height: 300px;
    display: block;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5), 0 4px 6px rgba(0, 0, 0, 0.3); /* Adds shadow effect */
    border: 1px solid black; /* Optional border for emphasis */
    filter: grayscale(100%); /* Converts image to black and white */
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease; /* Smooth transition for hover effects */
    cursor: pointer;
}

.comic-card-inner img:hover {
    transform: scale(1.02); /* Slightly enlarge the image */
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.6), 0 6px 8px rgba(0, 0, 0, 0.4);
    filter: grayscale(0%); /* Restores natural color */
}

.comic-card-inner p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: orange;
    background: url('/src/assets/3696.jpg') no-repeat center center;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 2px 1.3px 0 #000;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: .2rem;
    margin-top: 4rem;
  }

.pre-load-text {
    color: yellow;
    text-shadow: 2px 2px #ff0000;
    text-align: center;
}