.comic-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    max-width: 50rem;
    margin: 0 auto;
}

.comic-info-container p {
    font-size: 2rem;
    color: yellow;
    text-shadow: 2px 2px #ff0000;
}

.title-series-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    padding-bottom: 2rem;
    border: 6px solid yellow;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.separator-line {
    width: calc(104% + 15px); /* Expands the line beyond the container borders */
    height: 6px;
    background-color: yellow;
    border: none;
    margin: 1rem 0;
    margin-bottom: 2rem;
    position: relative;
}

.title-series-container {
    text-align: center;
    margin-top: -2rem;
    margin-bottom: -1rem;
}

.comic-title {
    font-size: 3rem !important;
    text-align: center;
    margin-bottom: -1rem;
}

.comic-series {
    font-size: 1.5rem !important;
}

.comic-info-container a {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;
    color: yellow;
    text-shadow: 2px 2px #ff0000;
    text-decoration: underline;  
}

.comic-info-container a:hover {
    color: purple;
}

.comic-info-container img {
    height: 25rem;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5), 0 4px 6px rgba(0, 0, 0, 0.3);
}

.comic-description {
    margin-top: 2rem;
    padding: 1.5rem;
    background: linear-gradient(to right, #ffdb4d, #ff9900);
    border: 2px solid #ffd700; 
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); 
    max-width: 40rem;
    text-align: center;
    position: relative;
}

.comic-description p {
    font-size: 1.5rem;
    text-shadow: 2px 2px #ff0000;
    font-weight: bold;
    line-height: 1.6;
    margin: 0;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    display: inline-block;
    letter-spacing: 2px;
}

.characters-creators-container {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    border: 6px solid yellow;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); 
}

.separator-line2 {
    background-color: yellow;
    width: 6px;
    border: none;
    margin: 0 auto;
}

.characters,
.creators {
    list-style-type: none;
    color: yellow;
    text-shadow: 2px 2px #ff0000;
    width: 18rem;
    text-align: center;
}

.characters ul,
.creators ul {
    list-style-type: none; /* Removes bullets from the list */
}

.creators li {
    margin-right: 1.5rem;
}

.characters {
    list-style-type: none;
    color: yellow;
    text-shadow: 2px 2px #ff0000;
    text-align: center;
}

.characters ul {
    padding: 0;
}

@media screen and (max-width: 850px) {
    .characters-creators-container {
        display: flex;
        flex-direction: column;
    }

    .separator-line2 {
        width: 100%;
        height: 6px;
    }
}