.comic-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    max-width: 50rem;
}

.comic-info-container p {
    font-size: 2rem;
    color: yellow;
    text-shadow: 0 0 5px orange, 0 0 10px orange, 0 0 15px orange;
}

.title-series-container {
    margin-top: -2rem;
}

.comic-title {
    margin-bottom: -1rem;
}

.comic-info-container a {
    font-size: 1.5rem;
    color: yellow;
    text-shadow: 0 0 5px orange, 0 0 10px orange, 0 0 15px orange;
    text-decoration: underline; /* Optional: Remove underline from the link */   
}

.comic-info-container a:hover {
    color: purple;
}

.comic-info-container img {
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5), 0 4px 6px rgba(0, 0, 0, 0.3);
}

.comic-description p {
    font-size: 1.3rem;
}

.characters {
    font-size: 2rem;
    color: yellow;
    text-shadow: 0 0 5px orange, 0 0 10px orange, 0 0 15px orange;
}

.creators {
    font-size: 2rem;
    color: yellow;
    text-shadow: 0 0 5px orange, 0 0 10px orange, 0 0 15px orange;
}